<div class="page-header" filter-color="orange">
  <div class="page-header-image bg-page-login"></div>
  <div class="container">
    <div class="col-md-4 content-center">
      <div class="card card-login card-plain">
        <form class="form" method="" action="">
          <div class="header header-primary text-center">
            <a class="logo-container" href="/home">
              <img src="assets/img/logo-sanlabz-white.png">
            </a>
          </div>
          <div class="text-center">
            <a target="_blank" href="https://www.linkedin.com/in/sancozta/"
              class="btn btn-primary btn-round btn-lg btn-block">Linkedin</a>
          </div>
          <div class="text-center">
            <a target="_blank" href="https://github.com/sancozta"
              class="btn btn-primary btn-round btn-lg btn-block">Github</a>
          </div>
          <div class="text-center">
            <a target="_blank" href="https://www.instagram.com/sanlabz"
              class="btn btn-primary btn-round btn-lg btn-block">Instagram</a>
          </div>
          <div class="text-center">
            <a target="_self" href="/home"
              class="btn btn-primary btn-round btn-lg btn-block btn-outline-orange">Voltar ao Início</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <app-footer [dataBack]="dataBack"></app-footer>
</div>
