:root {
  --font-default: #06090e;
  --font-default-low: #7f8c8d;
  --font-selection: #00a07c;
  --font-background: #f0f1f6;

  --background-strong: #fafafa;
  --background: #fff;

  --btn-strong: #030c2b;
  --btn-low: #e4e4e8;
  --btn-green: #c8e8c7;

  --gray: #e0e0e0;
}
