<mat-content-list-form [enableForm]="false">

  <div slot="header">

    <div class="row">
      <div class="col">
        <h1>Canais de Comunicação</h1>
        <p>Mantenha os dados de contato sempre atualizados.</p>
      </div>
    </div>

  </div>

  <div slot="list">

    <div class="row" *ngIf="loading">
      <div class="col text-center">
        <i class="fas fa-spinner fa-3x fa-pulse"></i>
      </div>
    </div>

    <div class="row" *ngIf="!loading">
      <div class="col">

        <div class="row">
          <div class="col">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Email</mat-label>
              <input required autofocus matInput placeholder="Digite seu email..." id="email"
                [(ngModel)]="contact.email">
              <mat-hint class="hint-invalid" *ngIf="!contact?.email">Email é obrigatório.</mat-hint>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Telefone</mat-label>
              <input required autofocus matInput placeholder="Digite seu telefone..." id="phone"
                [(ngModel)]="contact.phone" mask="(00) 00000-0000">
              <mat-hint class="hint-invalid" *ngIf="!contact?.phone">Telefone é obrigatório.</mat-hint>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Endereço</mat-label>
              <input required autofocus matInput placeholder="Digite seu Endereço..." id="address"
                [(ngModel)]="contact.address">
              <mat-hint class="hint-invalid" *ngIf="!contact?.address">Endereço é obrigatório.</mat-hint>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Instagram</mat-label>
              <input required autofocus matInput placeholder="Digite seu nome..." id="instagram"
                [(ngModel)]="contact.instagram">
              <mat-hint class="hint-invalid" *ngIf="!contact?.instagram">Instagram é obrigatório.</mat-hint>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Facebook</mat-label>
              <input required autofocus matInput placeholder="Digite seu Facebook..." id="facebook"
                [(ngModel)]="contact.facebook">
              <mat-hint class="hint-invalid" *ngIf="!contact?.facebook">Facebook é obrigatório.</mat-hint>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Twitter</mat-label>
              <input required autofocus matInput placeholder="Digite seu Twitter..." id="twitter"
                [(ngModel)]="contact.twitter">
              <mat-hint class="hint-invalid" *ngIf="!contact?.twitter">Twitter é obrigatório.</mat-hint>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Youtube</mat-label>
              <input required autofocus matInput placeholder="Digite seu Youtube..." id="youtube"
                [(ngModel)]="contact.youtube">
              <mat-hint class="hint-invalid" *ngIf="!contact?.youtube">Youtube é obrigatório.</mat-hint>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Link</mat-label>
              <input required autofocus matInput placeholder="Digite seu Link..." id="link" [(ngModel)]="contact.link">
              <mat-hint class="hint-invalid" *ngIf="!contact?.link">Link é obrigatório.</mat-hint>
            </mat-form-field>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-4 offset-4">
            <button class="w-100" mat-stroked-button (click)="save()">Salvar</button>
          </div>
          
        </div>

      </div>
    </div>

  </div>

</mat-content-list-form>
