@mixin linear-gradient($color1, $color2) {
  background: $color1;
  background: -webkit-linear-gradient(90deg, $color1, $color2);
  background: -o-linear-gradient(90deg, $color1, $color2);
  background: -moz-linear-gradient(90deg, $color1, $color2);
  background: linear-gradient(0deg, $color1, $color2);
}
