<app-content-list-form [enableForm]="false">

  <div slot="header">

    <div class="row">
      <div class="col">
        <h1>Editar Perfil</h1>
        <p>Mantenha seus dados sempre atualizados.</p>
      </div>
    </div>

  </div>

  <div slot="list">

    <div class="row" *ngIf="loading">
      <div class="col text-center">
        <i class="fas fa-spinner fa-3x fa-pulse"></i>
      </div>
    </div>

    <div class="row" *ngIf="!loading">
      <div class="col">

        <div class="row">
          <div class="col">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Nome</mat-label>
              <input required autofocus matInput placeholder="Digite seu nome..." id="name" [(ngModel)]="user.name">
              <mat-hint class="hint-invalid" *ngIf="!user.name">Nome é obrigatório.</mat-hint>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>CPF</mat-label>
              <input required autofocus matInput placeholder="Digite seu nome..." id="cpf" [(ngModel)]="user.cpf"
                [dropSpecialCharacters]="false" mask="000.000.000-00">
              <mat-hint class="hint-invalid" *ngIf="!user.cpf">Cpf é obrigatório.</mat-hint>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Telefone</mat-label>
              <input required autofocus matInput placeholder="Digite seu nome..." id="phone" [(ngModel)]="user.phone"
                [dropSpecialCharacters]="false" mask="(00) 00000-0000">
              <mat-hint class="hint-invalid" *ngIf="!user.phone">Telefone é obrigatório.</mat-hint>
            </mat-form-field>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col text-right">
            <button class="btn-save" mat-flat-button (click)="save()">Salvar</button>
          </div>
        </div>

      </div>
    </div>

  </div>

</app-content-list-form>
