<footer class="footer" [attr.data-background-color]="dataBack">
  <div class="container box-mobile-links">
    <nav>
      <ul>
        <li>
          <a target="_blank" href="https://www.instagram.com/sanlabz/">
            Instagram
          </a>
        </li>
        <li>
          <a target="_blank" href="https://www.linkedin.com/in/sancozta/">
            Linkedin
          </a>
        </li>
        <li>
          <a target="_blank"
            href="https://api.whatsapp.com/send?phone=+5561999923261&text=Ol%C3%A1,%20poderia%20me%20ajudar?&source=&data=&app_absent=">
            Whatzapp
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;
      {{data | date: 'yyyy'}}, Designed by
      <a href="https://www.instagram.com/sanlabz/" target="_blank">Sanlabz</a>.
    </div>
  </div>
</footer>