<div class="wrapper page-home">

  <!--  CAPA -->
  <div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image bg-cap"></div>
    <div class="container">
      <div class="content-center brand">
        <img class="n-logo" src="assets/img/logo-sanlabz-white.png">
        <h3>Desenvolva aqui o projeto que você sempre quis.</h3>
        <a href="https://api.whatsapp.com/send?phone=+5561999923261&text=Ol%C3%A1,%20poderia%20me%20ajudar?&source=&data=&app_absent="
          target="_blank" class="btn-link-contact">
          Entrar em Contato
        </a>
      </div>
    </div>
  </div>

  <div class="main">

    <!-- SOBRE -->
    <div class="section section-about-us">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">Quem somos ?</h2>
            <h4 class="description">Estamos aqui para ajudá-lo a tirar aquele seu projeto do papel e torna-lo realidade,
              criar soluções que tragam retorno na sua vida e em sua empresa, focados em resultados e qualidade dos seus
              projetos. Sempre oferecendo um atendimento humano e presente.</h4>
          </div>
        </div>
        <div class="separator separator-primary"></div>
        <div class="section-story-overview">
          <div class="row">
            <div class="col-md-6">
              <div class="image-container image-left bg-who-we-are-one">
                <p class="blockquote blockquote-primary">
                  &#10003; Análise do Negócio<br />
                  &#10003; Prototipação<br />
                  &#10003; Desenvolvimento Ágil<br />
                  &#10003; Processo Transparente<br />
                  &#10003; Equipe Multidisciplinar<br />
                  &#10003; Segurança e Sigilo<br />
                  &#10003; Entrega de Código Fonte<br />
                </p>
              </div>
              <div class="image-container bg-who-we-are-three"></div>
            </div>
            <div class="col-md-5">
              <div class="image-container image-right bg-who-we-are-two"></div>
              <p>Nós trabalhamos amplamente no campo do desenvolvimento Web & Web App e temos uma oferta diversificada e
                abrangente.</p>
              <p>Desenvolver um software com a medida certa para suas necessidades, através de estudos detalhados sobre
                seu negócio implementar as funcionalidades necessárias para o seu negócio. Reunimos design, agilidade e
                tecnologia para transformar a sua ideia em software. Nosso time está pronto para conceber e desenvolver
                o seu produto ou serviço digital.
              </p>
              <p>
                Porque comprar um software com 1000 funcionalidades se você só usa 10? Não faz sentido! Entre em
                contato conosco que temos uma solução mais em conta, mais eficiente e na medida certa para o tamanho do
                seu negócio.
              </p>
              <p>Desenvolvimento de aplicativos integrados com plataformas online, que automatizam processos específicos
                ou mesmo para revolucionar um segmento de mercado. Softwares sob medida para seu negócio, com objetivo
                de automatizar processos manuais. Um site bem estruturado, criado seguindo uma estratégia de comunicação
                que mostre o que a empresa é e os problemas que ela resolve com comunicação clara é o que desenvolvemos.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- DEPOIMENTOS -->
    <div class="section section-team text-center d-none">
      <div class="container">
        <h2 class="title">Here is our team</h2>
        <div class="team">
          <div class="row">
            <div class="col-md-4">
              <div class="team-player">
                <img src="assets/img/avatar.jpg" class="rounded-circle img-fluid img-raised">
                <h4 class="title">Romina Hadid</h4>
                <p class="category text-primary">Model</p>
                <p class="description">You can write here details about one of your team members. You can give more
                  details about what they do. Feel free to add some
                  <a href="#">links</a> for people to be able to follow them outside the site.</p>
                <a href="#" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                <a href="#" class="btn btn-primary btn-icon btn-round"><i class="fab fa-instagram"></i></a>
                <a href="#" class="btn btn-primary btn-icon btn-round"><i class="fab fa-facebook-square"></i></a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-player">
                <img src="assets/img/avatar.jpg" class="rounded-circle img-fluid img-raised">
                <h4 class="title">Ryan Tompson</h4>
                <p class="category text-primary">Designer</p>
                <p class="description">You can write here details about one of your team members. You can give more
                  details about what they do. Feel free to add some
                  <a href="#">links</a> for people to be able to follow them outside the site.</p>
                <a href="#" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                <a href="#" class="btn btn-primary btn-icon btn-round"><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-player">
                <img src="assets/img/avatar.jpg" class="rounded-circle img-fluid img-raised">
                <h4 class="title">Eva Jenner</h4>
                <p class="category text-primary">Fashion</p>
                <p class="description">You can write here details about one of your team members. You can give more
                  details about what they do. Feel free to add some
                  <a href="#">links</a> for people to be able to follow them outside the site.</p>
                <a href="#" class="btn btn-primary btn-icon btn-round"><i class="fab fa-google-plus"></i></a>
                <a href="#" class="btn btn-primary btn-icon btn-round"><i class="fab fa-youtube"></i></a>
                <a href="#" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- FUNDO DEGRADER DE IMAGEM -->
    <div class="section section-signup bg-section-mont">
      <div class="container login-page">
        <div class="row">
          <div class="col-md-4 content-center ml-auto mr-auto"></div>
        </div>
      </div>
    </div>

    <!-- EXPOSIÇÃO DE TRABALHOS -->
    <div id="projects" class="section section-examples section-jobs" data-background-color="black">
      <div class="space-50"></div>
      <div class="container text-center">
        <div class="row">
          <div class="col">
            <h3 class="text-projects">Projetos</h3>
            <div class="separator separator-projects separator-primary"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <a href="#projects" class="item-job">
              <img src="assets/img/13.png" alt="Image">
            </a>
            <a href="#projects" class="btn text-item-job">ADVOCACY - A Plataforma Advocacy
              foi criada para ajudar escritórios de advocacia a encontrar a melhor organização dos processos que são
              tratados pelo escritório, fazendo a gestão financeira desses processos e de suas nuances, a plataforma
              também conta com um módulo de gestão de tarefas que oferece aos administradores a designação de tarefas
              para seus colaboradores, tudo sendo controlado digitalmente, com exportação de relatórios, recibos,
              exposição de links externos para que seus clientes possam acompanhar seus processos via link pessoal.</a>
          </div>
          <div class="col-md-6 col-xs-12">
            <a href="#projects" class="item-job">
              <img src="assets/img/33.png" alt="Image">
            </a>
            <a href="#projects" class="btn text-item-job">INTEGRAÇÃO DE SISTEMAS [OTRS, CA,
              SALESFORCE] - A evolução na forma de
              fazer sistemas, a quantidade de programas que surge com o objetivo de ajudar as empresas é alta. E para
              que os clientes finais possam extrair o máximo de valor dessas ferramentas é necessário que elas
              interajam. Temos experiência em integração de ferramentas ITSM, integrações tanto personalizando a
              ferramenta para propor esse comunicação como também utilizando suas apis para chavear suas ações entre
              ferramentas.</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <a href="#projects" class="item-job">
              <img src="assets/img/31.png" alt="Image">
            </a>
            <a href="#projects" class="btn text-item-job">DESENVOLVIMENTO DE APIS EM NODE JS E
              PYTHON - O desenvolvimento de apis hoje é de grande base para aplicações multiplataformas que tem como
              base a arquitetura baseada em serviços, ter apis bem modeladas com forte estrutura, ajuda a prolongar o
              ciclo de vida dessas aplicações. Desenvolver apis escaláveis e com performáticas torna nossas aplicações
              mais rápidas para nossos usuários finais, claro que a fluidez da interface tem papel fundamental nessa
              experiência, porém ter respostas rápidas é necessário para da suporte a criação de uma experiência
              agradável ao usuário final.</a>
          </div>
          <div class="col-md-6 col-xs-12">
            <a href="#projects" class="item-job">
              <img src="assets/img/22.png" alt="Image">
            </a>
            <a href="#projects" class="btn text-item-job">EXTENSÕES CHROME - O google chrome é o
              navegador mais utilizado no mundo atualmente, baseado no projeto open source chromium, o navegador da
              google foi desenvolvido para ser o navegador oficial da empresa, Dominou a grande maioria do mercado de
              navegadores, e trás a possibilidade de implementar extensões que auxiliam os usuários nas suas atividades
              ao navegar pela internet, com um grande gama de possibilidade essas extensões ganharam o gosto popular e
              tem ajudado a melhor a experiências dos usuários na internet, ter conhecimento para desenvolver essas
              extensões e abrir um leque de possibilidades para estar próximo aos usuários do chrome.</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <a href="#projects" class="item-job">
              <img src="assets/img/43.png" alt="Image">
            </a>
            <a href="#projects" class="btn text-item-job">DESENVOLVIMENTO MOBILE - O Desenvolvimento
              mobile tem se tornado o principal meio de criar aplicações que sejam utilizadas por um número maior de
              pessoas, tendo acesso multiplataforma permitindo ao cliente ter os dados tanto na tela de um computador
              como também de uma celular, com uma interface projetada com os conceitos UX estabelecidos nos últimos
              anos.</a>
          </div>
          <div class="col-md-6 col-xs-12">
          </div>
        </div>
      </div>
    </div>

  </div>

  <app-footer [dataBack]="dataBack"></app-footer>
</div>
