<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h2>Politicas de Privacidade</h2>

            <ul>
                <li>Todos os dados são referentes a sua conta estão apenas disponíveis para seu usuário.</li>
                <li>Os dados estão armazenados de acordo com as politicas e infraestrutura do firebase.</li>
                <li>Toda a atualização referente ao controle dos dados esta limitado as ferramentas que o firebase
                    oferece.</li>
                <li>Na utilização desde aplicativo o usuário insenta os proprietários do aplicativo de todo e qualquer
                    dano causado pela utilização dele ou dos dados fornecidos por seus usuários.</li>
            </ul>
        </div>
    </div>
</div>