<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent" color-on-scroll="500">
  <div class="container">
    <div class="dropdown button-dropdown">
      <div class="p-relative">
        <a class="dropdown-toggle">
          <span class="button-bar"></span>
          <span class="button-bar"></span>
          <span class="button-bar"></span>
        </a>
        <div class="dropdown-open">
          <a class="dropdown-item" href="/admin/login">Dashboard</a>
          <a class="dropdown-item" href="/contacts">Contatos</a>
        </div>
      </div>
    </div>
    <div class="navbar-translate">
      <a class="navbar-brand" [routerLink]="['/']" placement="bottom" ngbTooltip="Designed by Sanlabz"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"
        (click)="sidebarToggle()">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred.jpg" data-color="orange">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="https://drive.google.com/file/d/1B8QaqOAQ43cMOz-IgsAWX8rN6FB399bp/view?usp=sharing"
            target="_blank">
            <i class="now-ui-icons"></i>
            <p>Currículo</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Acessar Github" data-placement="bottom"
            href="https://github.com/sancozta" target="_blank">
            <i class="fab fa-github"></i>
            <p class="d-lg-none d-xl-none">Github</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Acessar Linkedin" data-placement="bottom"
            href="https://www.linkedin.com/in/sancozta/" target="_blank">
            <i class="fab fa-linkedin"></i>
            <p class="d-lg-none d-xl-none">Linkedin</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Acessar Instagram" data-placement="bottom"
            href="https://www.instagram.com/sanlabz" target="_blank">
            <i class="fab fa-instagram"></i>
            <p class="d-lg-none d-xl-none">Instagram</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
