.box-title {
  font-size: 1.4rem;
  margin-bottom: 15px;
  font-weight: 500;
}

.box-description {
  color: var(--font-default-low);
  font-size: 1.1rem;
  padding: 5px 24px;
}

.box-btns {
  margin-top: 15px;
  justify-content: flex-end;
}
